In [2]:
# We add a new column named shirts to our store_items DataFrame indicating the number of
# shirts in stock at each store. We will put 15 shirts in store 1 and 2 shirts in store 2
store_items['shirts'] = [15,2]

# We display the modified DataFrame
store_items

         bikes  glasses  pants  watches  shirts
store 1     20      NaN     30       35      15
store 2     15     50.0      5       10       2

In [3]:
# We import Pandas as pd into Python
import pandas as pd

# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# We create a DataFrame  and provide the row index
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2'])

# We access rows, columns and elements using labels
print()
print('How many bikes are in each store:\n', store_items[['bikes']])
print()
print('How many bikes and pants are in each store:\n', store_items[['bikes', 'pants']])
print()
print('What items are in Store 1:\n', store_items.loc[['store 1']])
print()
print('How many bikes are in Store 2:', store_items['bikes']['store 2'])

How many bikes are in each store:
          bikes
store 1     20
store 2     15

How many bikes and pants are in each store:
          bikes  pants
store 1     20     30
store 2     15      5

What items are in Store 1:
          bikes  glasses  pants  watches
store 1     20      NaN     30       35

How many bikes are in Store 2: 15

In [4]:
# We create a dictionary from a list of Python dictionaries that will number of items at the new store
new_items = [{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4}]

# We create new DataFrame with the new_items and provide and index labeled store 3
new_store = pd.DataFrame(new_items, index = ['store 3'])

# We display the items at the new store
new_store

         bikes  glasses  pants  watches
store 3     20        4     30       35

In [5]:
# We append store 3 to our store_items DataFrame
store_items = store_items.append(new_store, sort=False)

# We display the modified DataFrame
store_items

         bikes  glasses  pants  watches
store 1     20      NaN     30       35
store 2     15     50.0      5       10
store 3     20      4.0     30       35

In [6]:
# We add a new column using data from particular rows in the watches column
store_items['new watches'] = store_items['watches'][1:]

# We display the modified DataFrame
store_items

         bikes  glasses  pants  watches  new watches
store 1     20      NaN     30       35          NaN
store 2     15     50.0      5       10         10.0
store 3     20      4.0     30       35         35.0

In [7]:
# We insert a new column with label shoes right before the column with numerical index 4
store_items.insert(4, 'shoes', [8,5,0])

# we display the modified DataFrame
store_items

         bikes  glasses  pants  watches  shoes  new watches
store 1     20      NaN     30       35      8          NaN
store 2     15     50.0      5       10      5         10.0
store 3     20      4.0     30       35      0         35.0

In [8]:
# We remove the new watches column
store_items.pop('new watches')

# we display the modified DataFrame
store_items

         bikes  glasses  pants  watches  shoes
store 1     20      NaN     30       35      8
store 2     15     50.0      5       10      5
store 3     20      4.0     30       35      0

In [9]:
# We remove the watches and shoes columns
store_items = store_items.drop(['watches', 'shoes'], axis = 1)

# we display the modified DataFrame
store_items

         bikes  glasses  pants
store 1     20      NaN     30
store 2     15     50.0      5
store 3     20      4.0     30

In [10]:
# We remove the store 2 and store 1 rows
store_items = store_items.drop(['store 2', 'store 1'], axis = 0)

# we display the modified DataFrame
store_items

         bikes  glasses  pants
store 3     20      4.0     30

In [11]:
# We change the column label bikes to hats
store_items = store_items.rename(columns = {'bikes': 'hats'})

# we display the modified DataFrame
store_items

         hats  glasses  pants
store 3    20      4.0     30

In [12]:
# We change the row label from store 3 to last store
store_items = store_items.rename(index = {'store 3': 'last store'})

# we display the modified DataFrame
store_items

            hats  glasses  pants
last store    20      4.0     30